body {
  color: #333333;
  margin-top: 5rem;
}
h1, h2, h3, h4, h5, h6 {
  color: #03045e;
}

.bg-steel {
 /*  nav bar color*/
  background-color: #304CBD;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.custom-search-bar {
    width: 125px; /* Adjust the width as needed */
    height: 30px;
    padding: 0.00rem 0.00rem; /* Adjust the padding as needed */
    font-size: 0.875rem; /* Adjust the font size as needed */
     padding-top: 0.0rem; /* Adjust the vertical padding as needed */
    padding-bottom: 0.1rem;
}
.custom-search-button {
    padding: 0rem 0.5rem; /* Adjust the padding as needed */
    height: 30px;
    padding-top: 0.0rem; /* Adjust the vertical padding as needed */
    padding-bottom: 0.1rem;

    font-size: 0.750rem; /* Adjust the font size as needed */
}

.custom-gap {
    margin-left: 10px; /* Adjust the margin as needed */
}

body { font-family: Arial, sans-serif; display: flex; justify-content: center; padding: 20px; background-color: #f9f9f9; }
.card { width: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden; background-color: #fff; }
.upper-section { display: flex; padding: 16px; }
.company-logo img { width: 50px; height: 50px; border-radius: 50%; }
.detail-section { margin-left: 16px; }
.detail-section a { font-weight: bold; color: #333; text-decoration: none; }
.detail-section .info { font-size: 0.9em; color: #777; }
.profile-details { display: flex; align-items: center; padding: 16px; border-top: 1px solid #eee; }
.profile-image img { width: 40px; height: 40px; border-radius: 50%; }
.profile-info { margin-left: 10px; }
.profile-info .name { font-weight: bold; }
.status { color: #ff5c5c; font-size: 0.9em; }
.engagement { display: flex; justify-content: space-around; padding: 10px; font-size: 0.9em; color: #555; }
