{% extends "layout.html" %}

{% block content%}

<h1>Welcome to MANIT BLOG!</h1>
<p>Here, our mission is to provide a platform for students to share their experiences, insights, and stories related to placements, internships, and interviews. We believe in the power of sharing knowledge and experiences to help each other grow and succeed.</p>
<h3>What You Can Do Here</h3>
<div class="about-section">
    <h4>Share Your Experiences</h4>
    <p>
        Have you gone through the interview process for an internship or a full-time position? Share your journey with your peers! Your insights can provide valuable guidance and inspiration to others.
    </p>
</div>

<div class="about-section">
    <h4>Read and Learn</h4>
    <p>
        Explore posts from fellow students to gain a better understanding of different companies, interview processes, and tips for success. Whether you're preparing for technical interviews or looking for advice on navigating the job market, you'll find a wealth of information here.
    </p>
</div>


{% endblock content %}
