{% extends "layout.html" %}

{% block content%}
<form class="filter" method="GET" action="{{ url_for('home') }}">
    {{ form.hidden_tag() }} <!-- This is for CSRF protection -->
    
        {{ form.branch() }}
    
        {{ form.type() }}
    
        {{ form.title() }}
    
        {{ form.verdict() }}
    
        {{ form.submit() }}
</form>
<div class="row">

    {% for post in results %}
    
    
    <div class="card">
        <a class="card-link" href="{{ url_for('post', post_id=post.id) }}">
            <!-- Upper Section -->
            <div class="upper-section">
                <div class="company-logo">
                    <img src="{{ url_for('static', filename='logos/' + post.title|lower + '.svg') }}" alt="{{ post.title }} Logo">
                </div>
                <div class="detail-section">
                    <div>{{ post.title }} | {{ post.role }} | {{ post.interview_date }}</div>
                    <div class="info">
                        <span>Rounds: {{ post.round }}</span> |
                        <span>{{ post.coding_problems }}</span>
                    </div>
                </div>
            </div>
    
            <!-- Profile Details Section -->
            <div class="profile-details">
                <div class="profile-image">
                    <img src="{{ url_for('static', filename='profile_pics/' +'default.jpg') }}" alt="{{ post.title }} Logo">
                </div>
                <div class="profile-info">
                    <div class="name">{{ post.author.name }}</div>
                    <div class="experience">{{ post.user_experience }}</div>
                    <div class="status">{{ post.verdict }}</div>
                </div>
            </div>
    
            <!-- Engagement Section -->
            <div class="engagement">
                <div><i class="fas fa-eye"></i> {{ post.views }}</div>
                <div><i class="fas fa-comments"></i> {{ post.comments }}</div>
                <div><i class="fas fa-thumbs-up"></i> {{ post.upvotes }}</div>
            </div>
        </a>
    </div>
    
    
    {% endfor %}
</div>
{% endblock content %}
